<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <div class="container-grid">
        <div class="item1">
            
            
                <h2 style="margin-top: 30%;">AVAILABLE NOW</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cum molestiae explicabo reiciendis totam, expedita atque id velit nesciunt nisi quibusdam. Totam molestiae corrupti quasi odit a sunt reiciendis cumque.</p>
            
            
          
        </div>
        <div class="item2">
            <h2>CLOUD</h2>
            <h3 style="color:#23a189;">STRIFE</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio earum aliquam dolore explicabo sed accusamus adipisci enim maxime possimus tempora, cumque vel voluptate illum modi sint similique tenetur tempore. Magnam.</p>
        </div>
        <div class="item3">
            <h2>SEPHIROTH</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat inventore qui dicta consectetur provident quidem facilis magni necessitatibus impedit porro alias sapiente accusamus tempora accusantium, perspiciatis doloribus sed atque ab!</p>
        </div>
        <div class="item4">
            <h2>TIFA</h2>
            <p  style="color: #ffff;">LOCKHART</p>
            <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ut neque debitis, nam illum, minus eius quaerat sit placeat dolorum quo veniam unde minima voluptas aliquam eos? Iusto, quam architecto  neque debitis, nam illum, minus eius quaerat sit placeat dolorum quo veniam unde minima voluptas aliquam eos? Iusto, quam architecto.</p>
        </div>
        <div class="item5">
        </div>
        <div class="item6">
            <h1>BARRET</h1>

            <h3 style="color: #424423;">WALLACE</h3>
            <p style="margin-left: 10px ; color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ad praesentium impedit, doloribus deleniti placeat. Est aperiam quasi tempora tempore velit, nemo cupiditate aliquid ex fugiat, deleniti quos incidunt sint.</p>
        </div>
        <div class="item7">
                

          
        </div>
        <div class="item8">
            <h2 style="color: #ffff; margin-left: 40%;">AERITH</h2>
            <h3 style="color: #7f2632; margin-left: 40%;">GAINSBOROUGH</h3>
            <p style="margin-left: 40%;  color: #ffff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quisquam eius quidem fugit impedit possimus culpa, perferendis iste ipsam earum illum officiis maiores molestias distinctio sunt similique laudantium sapiente labore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quisquam eius quidem fugit impedit possimus culpa, perferendis iste ipsam earum illum officiis maiores molestias distinctio sunt similique laudantium sapiente labore! Lorem ipsum dolor sit amet cons</p>
        </div>
    </div>
    
</body>
</html>